.footer-inner .copyright {
  color: #fff;
}
.footer {
  background-color: var(--bg-navy);
  border-top: 1px solid #102a43;
}

.footer-inner {
  max-width: 2000px;
  margin-inline: auto;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  color: #ffffff;
}

/* Responsive */
@media (max-width: 600px) {
  .footer-inner {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    color: #ffffff;
  }
}