.about-text {
  max-width: 800px;
  margin-bottom: 2rem;
  color: #cbd5f5;
}

.sub-title {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}

.education-list {
  padding-left: 1.2rem;
}

.education-list li {
  margin-bottom: 0.6rem;
  color: #94a3b8;
}